<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Assisticant" version="1.1.4.3" targetFramework="net451" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net451" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net451" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="RoverMob" version="0.2.16" targetFramework="net451" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="net451" />
</packages>